<div class="row">
  <div class="col-xs-12 padded">
    <%= link_to "Déposer une annonce", new_advert_path, class: "btn btn-primary"  %>
    <br>
    <% @adverts.each do |advert| %>
      <%= link_to advert_path(advert) do  %>
        <h4> <%= advert.title %></h4>
        <b><%= advert.price %></b>
        <% advert.photos.each do |photo| %>
          <%= cl_image_tag photo.path, width: 250, height: 200, crop:"fill" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
