
<div class="col-xs-10 col-xs-offset-1 padded">
  <%= simple_form_for :query, url: adverts_path, method: :get,  wrapper: :inline_form, html: {class: 'form-inline'} do |f| %>
    <%= f.input  :category, collection: (Category.all.map {|c| c.name}) ,  prompt: "Choisissez une catégorie" %>
    <%= f.input  :keyword, placeholder: "Mots clés" %>
    <%= f.button :submit, "Chercher", class:"btn btn-custom btn-find"  %>
    <%= link_to "Déposer une annonce", new_advert_path, class: "btn btn-primary"  %>
  <% end %>
  </div>

<%= render 'adverts' %>

